.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.tmp.driveupload/*
*.pdf
*.mp4

MSc Matteo Scandola.key
papers/*

tracking/data/*
tracking/25b_25r/*
tracking/49b_1r/*
tracking/stardist_res/*

analysis/49b_1r/old/*

analysis/49b_1r/analysis_data/*
analysis/25b_25r/analysis_data/*
analysis/25b_25r/results/graph/motif/*
analysis/49b_1r/results/graph/motif/*
.vscode/*
analysis/figures.ipynb
MSc_Matteo Scandola_MOD.key
*.webm

tracking/models/*

new*
test*
setup_file*
tracking/train/*
*.tif
*.labeling
