.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.tmp.driveupload/*

*.pdf
*.mp4
*.tif
*.labeling
*.parquet
*.webm
*.pyc

.vscode/*

MSc Matteo Scandola.key
MSc_Matteo Scandola_MOD.key
papers/*

tracking/data/*
tracking/old/*
tracking/25b25r-1/*
tracking/49b1r/*
tracking/stardist_res/*
tracking/models/*
tracking/simulation/*

analysis/49b1r/old/*
analysis/49b1r/analysis_data/*
analysis/25b25r-1/old/*
analysis/25b25r/analysis_data/*
analysis/25b25r-1/results/graph/motif/*
analysis/49b1r/results/graph/motif/*
analysis/figures.ipynb