.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

MSc Matteo Scandola.key
papers/*
results_17_1/*

tracking/results/merging/*
tracking/results/tracking_trials/*
tracking/results/parquet/full_movie_tracking.parquet
tracking/data/*

analysis/analysis_data/*

